.container {
  max-width: 1220px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.opacity {
  opacity: 0.4;
}